﻿@model hera.Models.ViewModels.Upload.UploadFile

@{
    ViewBag.Title = "Upload File";
}

@* Start Main Content *@
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Upload File Contract</h4>
                    <a href="@Url.Action("ExportTemplateContracts", "UploadFile")" id="ExportTemplate" title="Export Template Contracts" class="btn btn-sm btn-info">Export Template</a>
                </div>
                <div class="card-body">
                    <form action=UploadFile/UploadContracts method="post" enctype="multipart/form-data">
                        @Html.TextBoxFor(model => model.File, new { @id = "Browse", @type = "file", @style = "border: 1px solid black; padding: 5px;", @accept = ".xls,.xlsx" })
                        <p>
                            <input action="UploadContracts" type="submit" value="Upload" style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
        @*<div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Upload File Venus</h4>
                    </div>
                    <div class="card-body">
                        <form action="/read-file-venus" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="csrfmiddlewaretoken" value="pMFHfZZ2Us8PptZ8jqKXlfp9e8i9CTGbLvEtMeolru60brHPt4xbLpRrVc2mJz9M">
                            <input type="file" title="Upload excel file" name="excel_file" style="border: 1px solid black; padding: 5px;" required="required">
                            <p>
                                <input type="submit" value="Upload" style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;" disabled="disabled">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Upload File Venus OPO</h4>
                    </div>
                    <div class="card-body">
                        <form action="/read-file-opo" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="csrfmiddlewaretoken" value="pMFHfZZ2Us8PptZ8jqKXlfp9e8i9CTGbLvEtMeolru60brHPt4xbLpRrVc2mJz9M">
                            <input type="file" title="Upload csv file" name="csv_file" style="border: 1px solid black; padding: 5px;" required="required">
                            <p>
                                <input type="submit" value="Upload" style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;" disabled="disabled">
                            </p>
                        </form>
                    </div>
                </div>
            </div>*@
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Upload File Venus GRNI</h4>
               
                    <a href="@Url.Action("ExportTemplateGRNI", "UploadFile")" id="ExportTemplate" title="Export Template GRNI" class="btn btn-sm btn-info">Export Template</a>
                </div>
                <div class="card-body">
                <form action=UploadFile/UploadGRNI method="post" enctype="multipart/form-data">

                    @Html.TextBoxFor(model => model.File, new { @id = "Browse", @type = "file", @style = "border: 1px solid black; padding: 5px;", @accept = ".xls,.xlsx", required = "required" })
                    @*<input type="file" title="Upload csv file" name="csv_file" style="border: 1px solid black; padding: 5px;" required="required">*@
                    <p>
                        <input action="UploadGRNI" type="submit" value="Upload" style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;" />
                    </p>
                </form>
            </div>
            </div>
        </div>
        @*<div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Upload File Venus POA</h4>
                    </div>
                    <div class="card-body">
                        <form action="/read-file-poa" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="csrfmiddlewaretoken" value="pMFHfZZ2Us8PptZ8jqKXlfp9e8i9CTGbLvEtMeolru60brHPt4xbLpRrVc2mJz9M">
                            <input type="file" title="Upload csv file" name="csv_file" style="border: 1px solid black; padding: 5px;" required="required">
                            <p>
                                <input type="submit" value="Upload" style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;" disabled="disabled">
                            </p>
                        </form>
                    </div>
                </div>
            </div>*@
    </div>
</div>
@* End Main Content *@

<script type="text/javascript">
    $(document).ready(function () {
        var status = @ViewBag.Status;

        if (status == "1") {
            $.notify({
                // options
                message: 'Success @ViewBag.Message'
            }, {
                // settings
                type: 'success'
            });
        } else if (status == '0') {
            $.notify({
                // options
                message: 'Failed @ViewBag.Message'
            }, {
                // settings
                type: 'danger'
            });
        }
    });

</script>