﻿
<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/lib/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/lib/assets/img/favicon.png">
    <title>@ViewData["Title"] - Fonterra Dashboard</title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="~/lib/assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="~/lib/assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    @*<link href="~/lib/assets/demo/demo.css" rel="stylesheet" />*@
    <link href="~/lib/css/black-dashboard.css" rel="stylesheet" />
    <link href="~/Scripts/Datatable/datatables/css/dataTables.jqueryui.css" rel="stylesheet" />
    <link href="~/Scripts/Datatable/datatables/css/dataTables.bootstrap4.css" rel="stylesheet" />


    <!--   Core JS Files   -->
    <script src="~/lib/assets/js/core/jquery.min.js"></script>
    <script src="~/lib/assets/js/core/popper.min.js"></script>
    <script src="~/lib/assets/js/core/bootstrap.min.js"></script>
    <script src="~/lib/assets/js/core/bootstrap-input-spinner.js"></script>
    <script src="~/lib/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Google Maps Plugin    -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="~/lib/assets/js/plugins/chartjs.min.js"></script>
    @* Font Awesome *@
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/lib/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/lib/assets/js/black-dashboard.min.js?v=1.0.0"></script>
    <!-- DatePicker -->
    <script src="~/lib/assets/js/plugins/bootstrap-datepicker.js"></script>
    <!-- PopUp -->
    <script src="~/Scripts/AjaxPopup/VenusTable.js" type="text/javascript"></script>
    <script src="~/Scripts/AjaxPopup/ContractTable.js" type="text/javascript"></script>
    <script src="~/Scripts/AjaxPopup/VendorVenus.js" type="text/javascript"></script>
    <script src="~/Scripts/AjaxPopup/TypeVenus.js" type="text/javascript"></script>
    <script src="~/Scripts/AjaxPopup/BusinessVenus.js" type="text/javascript"></script>
    <script src="~/Scripts/AjaxPopup/DepartmentVenus.js" type="text/javascript"></script>

    <script src="~/Scripts/AjaxPopup/BuyerContract.js" type="text/javascript"></script>
    <script src="~/Scripts/AjaxPopup/SupplyContract.js" type="text/javascript"></script>
    <script src="~/Scripts/AjaxPopup/PeriodContract.js" type="text/javascript"></script>
    <script src="~/Scripts/AjaxPopup/CommodityContract.js" type="text/javascript"></script>

    <script src="~/Scripts/AjaxPopup/ActualContract.js" type="text/javascript"></script>
    <script src="~/Scripts/AjaxPopup/TargetContract.js" type="text/javascript"></script>
    <script src="~/Scripts/AjaxPopup/QuarterContract.js" type="text/javascript"></script>
    <!-- Genneral -->
    <script src="~/Scripts/General/general.js" type="text/javascript"></script>
    <script src="~/Scripts/General/pagination.js" type="text/javascript"></script>
    <script src="~/Scripts/General/inputmask.js" type="text/javascript"></script>
    <script src="~/Scripts/General/inputmask.date.extensions.js" type="text/javascript"></script>
    <script src="~/Scripts/General/jquery.inputmask.js" type="text/javascript"></script>
    <!-- DataTable -->
    <script src="~/Scripts/Datatable/datatables/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="~/Scripts/Datatable/datatables-plugins/dataTables.js" type="text/javascript"></script>
    <script src="~/Scripts/Datatable/datatables-responsive/dataTables.responsive.js" type="text/javascript"></script>
    <script src="~/Scripts/Datatable/general.js" type="text/javascript"></script>
    <script src="~/Scripts/Datatable/pagination.js" type="text/javascript"></script>
    <script src="~/Scripts/Datatable/inputmask.js" type="text/javascript"></script>
    <script src="~/Scripts/Datatable/inputmask.date.extensions.js" type="text/javascript"></script>
    <script src="~/Scripts/Datatable/jquery.inputmask.js" type="text/javascript"></script>


</head>

<body class="">
    <div class="wrapper">
        <div class="sidebar">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="javascript:void(0)" class="simple-text logo-mini">
                        KPI
                    </a>
                    <a href="javascript:void(0)" class="simple-text logo-normal">
                        BY KOTA DIGIVICE
                    </a>
                </div>
                <ul class="nav">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="tim-icons icon-chart-pie-36"></i>
                            <p>Dashboard Contract</p>
                        </a>
                    </li>
                    <li>
                        <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="tim-icons icon-pin"></i>Data Contract</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu1">
                            <li>
                                <a class="nav-item dropdown-item" asp-area="" asp-controller="ContractCommodity" asp-action="Index">

                                    <p>+ Contract Commodity</p>
                                </a>

                            </li>
                            <li>
                                <a class="nav-item dropdown-item" asp-area="" asp-controller="ContractBuyer" asp-action="Index">

                                    <p>+ Contract Buyer</p>
                                </a>
                            </li>
                            <li>
                                <a class="nav-item dropdown-item" asp-area="" asp-controller="ContractSupply" asp-action="Index">

                                    <p>+ Contract Supply</p>
                                </a>
                            </li>
                            <li>
                                <a class="nav-item dropdown-item" asp-area="" asp-controller="ContractPeriod" asp-action="Index">

                                    <p>+ Contract Period</p>
                                </a>
                            </li>
                            <li>
                                <a class="nav-item dropdown-item" asp-area="" asp-controller="ContractQuarter" asp-action="Index">

                                    <p>+ Contract Quarter</p>
                                </a>

                            </li>
                            <li>
                                <a class="nav-item dropdown-item" asp-area="" asp-controller="ContractActual" asp-action="Index">

                                    <p>+ Contract Actual</p>
                                </a>

                            </li>
                            <li>
                                <a class="nav-item dropdown-item" asp-area="" asp-controller="ContractTarget" asp-action="Index">

                                    <p>+ Contract Target</p>
                                </a>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="TableContract" asp-action="Index">
                            <i class="tim-icons icon-bullet-list-67"></i>
                            <p>Contract Table</p>
                        </a>
                    </li>

                    <li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="tim-icons icon-pin"></i>Data Venus</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a class="nav-item dropdown-item" asp-area="" asp-controller="VenusVendor" asp-action="Index">

                                    <p>+ Venus Vendor</p>
                                </a>

                            </li>
                            <li>
                                <a class="nav-item dropdown-item" asp-area="" asp-controller="VenusBusiness" asp-action="Index">

                                    <p>+ Venus Business</p>
                                </a>
                            </li>
                            <li>
                                <a class="nav-item dropdown-item" asp-area="" asp-controller="VenusDepartment" asp-action="Index">

                                    <p>+ Venus Department</p>
                                </a>
                            </li>
                            <li>
                                <a class="nav-item dropdown-item" asp-area="" asp-controller="VenusType" asp-action="Index">

                                    <p>+ Venus Type</p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a asp-area="" asp-controller="DashboardVenus" asp-action="Index">
                            <i class="tim-icons icon-chart-pie-36"></i>
                            <p>Dashboard Venus</p>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="TableVenus" asp-action="Index">
                            <i class="tim-icons icon-bullet-list-67"></i>
                            <p>Venus Table</p>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="UploadFile" asp-action="Index">
                            <i class="tim-icons icon-cloud-upload-94"></i>
                            <p>Upload File</p>
                        </a>
                    </li>

                    <li>
                        <a asp-area="" asp-controller="SendEmail" asp-action="Index">
                            <i class="tim-icons icon-cloud-upload-94"></i>
                            <p>SendEmail</p>
                        </a>
                    </li>


                    </li>
</div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="search-bar input-group">
                                <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal">
                                    <i class="tim-icons icon-zoom-split"></i>
                                    <span class="d-lg-none d-md-block">Search</span>
                                </button>
                            </li>
                            <li class="dropdown nav-item">
                                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <div class="notification d-none d-lg-block d-xl-block"></div>
                                    <i class="tim-icons icon-sound-wave"></i>
                                    <p class="d-lg-none">
                                        Notifications
                                    </p>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                                    <li class="nav-link">
                                        <a href="#" class="nav-item dropdown-item">Mike John responded to your email</a>
                                    </li>
                                    <li class="nav-link">
                                        <a href="javascript:void(0)" class="nav-item dropdown-item">
                                            You have 5 more
                                            tasks
                                        </a>
                                    </li>
                                    <li class="nav-link">
                                        <a href="javascript:void(0)" class="nav-item dropdown-item">
                                            Your friend Michael
                                            is in town
                                        </a>
                                    </li>
                                    <li class="nav-link">
                                        <a href="javascript:void(0)" class="nav-item dropdown-item">
                                            Another
                                            notification
                                        </a>
                                    </li>
                                    <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a></li>
                                </ul>
                            </li>
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <div class="photo">
                                        <img src="~/lib/assets/img/anime3.png" alt="Profile Photo">
                                    </div>
                                    <b class="caret d-none d-lg-block d-xl-block"></b>
                                    <p class="d-lg-none">
                                        Log out
                                    </p>
                                </a>
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a></li>
                                    <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li class="nav-link"><a asp-area="" asp-page="/Login" class="nav-item dropdown-item">Log out</a></li>
                                </ul>
                            </li>
                            <li class="separator d-lg-none"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Navbar -->
            @* Start Main Content *@
            @RenderBody()
            @* End Main Content *@

            @* Start Footer *@
            <footer class="footer">
                <div class="container-fluid">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                About Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                Blog
                            </a>
                        </li>
                    </ul>
                    <div class="copyright">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script> made with <i class="tim-icons icon-heart-2"></i> by
                        <a href="javascript:void(0)" target="_blank">Fonterra</a> Co-operative Group.
                    </div>
                </div>
            </footer>
            @* End Footer *@

        </div>
    </div>
</body>

</html>

<script>
    $(document).ready(function () {
        $().ready(function () {
            $sidebar = $('.sidebar');
            $navbar = $('.navbar');
            $main_panel = $('.main-panel');

            $full_page = $('.full-page');

            $sidebar_responsive = $('body > .navbar-collapse');
            sidebar_mini_active = true;
            white_color = false;

            window_width = $(window).width();

            fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



            $('.fixed-plugin a').click(function (event) {
                if ($(this).hasClass('switch-trigger')) {
                    if (event.stopPropagation) {
                        event.stopPropagation();
                    } else if (window.event) {
                        window.event.cancelBubble = true;
                    }
                }
            });

            $('.fixed-plugin .background-color span').click(function () {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');

                var new_color = $(this).data('color');

                if ($sidebar.length != 0) {
                    $sidebar.attr('data', new_color);
                }

                if ($main_panel.length != 0) {
                    $main_panel.attr('data', new_color);
                }

                if ($full_page.length != 0) {
                    $full_page.attr('filter-color', new_color);
                }

                if ($sidebar_responsive.length != 0) {
                    $sidebar_responsive.attr('data', new_color);
                }
            });

            $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function () {
                var $btn = $(this);

                if (sidebar_mini_active == true) {
                    $('body').removeClass('sidebar-mini');
                    sidebar_mini_active = false;
                    blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
                } else {
                    $('body').addClass('sidebar-mini');
                    sidebar_mini_active = true;
                    blackDashboard.showSidebarMessage('Sidebar mini activated...');
                }

                // we simulate the window Resize so the charts will get updated in realtime.
                var simulateWindowResize = setInterval(function () {
                    window.dispatchEvent(new Event('resize'));
                }, 180);

                // we stop the simulation of Window Resize after the animations are completed
                setTimeout(function () {
                    clearInterval(simulateWindowResize);
                }, 1000);
            });

            $('.switch-change-color input').on("switchChange.bootstrapSwitch", function () {
                var $btn = $(this);

                if (white_color == true) {

                    $('body').addClass('change-background');
                    setTimeout(function () {
                        $('body').removeClass('change-background');
                        $('body').removeClass('white-content');
                    }, 900);
                    white_color = false;
                } else {

                    $('body').addClass('change-background');
                    setTimeout(function () {
                        $('body').removeClass('change-background');
                        $('body').addClass('white-content');
                    }, 900);

                    white_color = true;
                }


            });

            $('.light-badge').click(function () {
                $('body').addClass('white-content');
            });

            $('.dark-badge').click(function () {
                $('body').removeClass('white-content');
            });
        });
    });
</script>
@*<script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

        });
    </script>
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

        });
    </script>*@
<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
<script>
    window.TrackJS &&
        TrackJS.install({
            token: "ee6fab19c5a04ac1a32a645abde4613a",
            application: "black-dashboard-free"
        });
</script>