﻿@model hera.Models.ViewModels.Contracts.TableContractGlobalModel

@{
    ViewBag.Title = "Contracts";
}
<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">book Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you Sure!!! You want to delete this data?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue" id="btnContinueDelete">Continue</button>
                <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id='myModal' class='modal modal-black'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalDialog'></div>
        </div>
    </div>
</div>

@* Start Main Content *@
<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-body">
                    <div class="form-check form-check-inline">
                        <form id="filterForm" asp-action="Index" asp-controller="Home" method="POST" data-ajax="true" data-ajax-update="divEmp">
                            <h4>Buyer</h4>
                            @foreach (var item in Model.BuyerRadio)
                            {
                                @Html.RadioButtonFor(model => model.BuyerFilter, item.ID_Contract_buyer, new { @class = "form-check-input m-2 radiobtnfilter", @id = "bf" + item.ID_Contract_buyer }) @item.name
                            }
                            @Html.RadioButtonFor(model => model.BuyerFilter, 0, new { @class = "form-check-input m-2 radiobtnfilter", @id = "bf0" }) All

                            <h4>Spending Type</h4>
                            @Html.RadioButtonFor(model => model.SpendingTypeFilter, 1, new { @class = "form-check-input m-2 radiobtnfilter", @id = "st1" }) Direct
                            @Html.RadioButtonFor(model => model.SpendingTypeFilter, 0, new { @class = "form-check-input m-2 radiobtnfilter", @id = "st0" }) Indirect
                            @Html.RadioButtonFor(model => model.SpendingTypeFilter, 2, new { @class = "form-check-input m-2 radiobtnfilter", @id = "st2" }) All

                            <h4>Commodity Category</h4>
                            @foreach (var item in Model.CommodityCategoryRadio)
                            {
                                @Html.RadioButtonFor(model => model.CommodityCategoryFilter, item.ID_Contract_commodity_group, new { @class = "form-check-input m-2 radiobtnfilter", @id = "cc" + item.ID_Contract_commodity_group }) @item.name
                            }
                            @Html.RadioButtonFor(model => model.CommodityCategoryFilter, 0, new { @class = "form-check-input m-2 radiobtnfilter", @id = "cc0" }) All
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Contrats Table</h5>
                </div>
                <div class="card-body" style="overflow-x:auto;">
                    <a href="javascript:void(0);" class="ancNewContract btn btn-sm btn-primary m-1"><i class="far fa-plus-square"></i>&nbsp; Create</a>
                    <a href="javascript:void(0);" class="ancDeleteAllContract btn btn-sm btn-warning m-1"><i class="far fa-trash-alt"></i>&nbsp; Delete Multiple</a>
                    <br />
                    <br />
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped table-hover dataTable tr-inline tableDemo" id="dataTablesMain" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                <thead>
                                    <tr role="row" class="unmodified unmodifiedSort">
                                        <th class="sorting_disable">
                                            <input type="checkbox" class="checkAll" />
                                        </th>
                                        <th class="sorting_asc">System ID</th>
                                        <th class="sorting">Supplier</th>
                                        <th class="sorting">Supplier ID</th>
                                        <th class="sorting">Direct</th>
                                        <th class="sorting">Commodity</th>
                                        <th class="sorting">Supply Category</th>
                                        <th class="sorting">Spending</th>
                                        <th class="sorting">Contract ID</th>
                                        <th class="sorting">EXP Date</th>
                                        <th class="sorting">Buyer</th>
                                        <th class="sorting">Period Coverage</th>
                                        <th class="sorting">Completed Count</th>
                                        <th class="sorting">Remarks</th>
                                        <th class="sorting"></th>
                                    </tr>
                                </thead>
                                <tbody id="topContractsTable">
                                    @foreach (var item in Model.ContractTable)
                                    {
                                    <tr class="gradeA odd" role="row">
                                        <td id=@item.ID_Contract_tracking class="unmodified">
                                            @Html.CheckBoxFor(model => item.checkID, new { @class = "form-check-input m-2 checkboxZselect", @id = item.ID_Contract_tracking })
                                            @*<input type="checkbox" />*@
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.ID_Contract_tracking)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.supplier)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.supplier_ID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.direct)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.commodity_group)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.supply_category)
                                        </td>
                                        <td>
                                            Rp.@item.nzd.ToString("#,##0.")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.contract_ID)
                                        </td>
                                        <td>
                                            @item.expiry_date.ToString("dd MMM yyyy")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.buyer)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.period_coverage)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.completed_count)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => item.remarks_this_week)
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="ancEditContract btn btn-sm btn-info m-1" data-id="@item.ID_Contract_tracking" title="Edit"> <i class="far fa-edit"></i></a>
                                            <a href="javascript:void(0);" class="ancDeleteContract btn btn-sm btn-warning m-1" data-id="@item.ID_Contract_tracking" title="Delete"> <i class="far fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* End Main Content *@

<script type="text/javascript">
    var URL = '/TableContract/Index'
    $(function () {
        $(".radiobtnfilter").click(function () {
            debugger;
            var BFValue = $('input[name=BuyerFilter]:checked').val();
            var SPValue = $('input[name=SpendingTypeFilter]:checked').val();
            var CCValue = $('input[name=CommodityCategoryFilter]:checked').val();
            window.location.href = URL + '?buyerpass=' + BFValue + '&spendingtypepass=' + SPValue + '&commoditypass=' + CCValue
        });
    });

    $(document).ready(function () {

        $("#checkAll").click(function () {
            $('.unmodified').children('input:checkbox').not(this).prop('checked', this.checked);
        });

        $(".checkAll").each(function () {
            var that = $(this);
            that.click(function () {
                that.closest('table').find('.unmodified').children('input:checkbox').not(this).prop('checked', this.checked);
            });
        });

        var status = @ViewBag.Status;

        if (status == "1") {
            $.notify({
                // options
                message: 'Success @ViewBag.Message'
            }, {
                // settings
                type: 'success'
            });
        } else if (status == '2') {
            $.notify({
                // options
                message: 'Failed @ViewBag.Message'
            }, {
                // settings
                type: 'danger'
            });
        }
    });
</script>