﻿@model hera.Models.ViewModels.Contracts.TableContractGlobalModel

<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>@Model.ContractInput.Form Form</h4>
    </div>
    <br />
    <div class="modal-body">
        @using (Html.BeginForm("Input", "TableContract", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.ContractInput.ID_Contract_tracking)
            <div style="width:45%;float:left">
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Supplier :")
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.ContractInput.supplier, new { @class = "form-control", required = "required", placeholder = "Supplierr" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Supplier ID :")
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.ContractInput.supplier_ID, new { @class = "form-control", required = "required", placeholder = "Supplier ID" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Direct :")
                    </div>
                    <div class="col-sm-7">
                        @Html.DropDownListFor(model => model.ContractInput.direct, new SelectList(
                       new[]
                       {
                        new { Value = "true", Text = "Yes" },
                        new { Value = "false", Text = "No" },
                        }, "Value", "Text"), "Select One", new { @class = "form-control btn dropdown-toggle", required = "required" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Commodity :")
                    </div>
                    <div class="col-sm-7">
                        @Html.DropDownListFor(model => model.ContractInput.commodity_group, new SelectList(ViewBag.commodity_group, "value", "text"), "Select One", new { @class = "form-control btn dropdown-toggle", required = "required" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Supply Category :")
                    </div>
                    <div class="col-sm-7">
                        @Html.DropDownListFor(model => model.ContractInput.supply_category, new SelectList(ViewBag.supply_category, "value", "text"), "Select One", new { @class = "form-control btn dropdown-toggle", required = "required" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Spending :")
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.ContractInput.nzd, new { @class = "form-control inputSpinner", required = "required", placeholder = "Spending" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Contract ID :")
                    </div>
                    <div class="col-sm-7">

                        @Html.TextBoxFor(model => model.ContractInput.contract_ID, new { @class = "form-control", required = "required", placeholder = "Contract ID" })
                    </div>
                </div>
            </div>
            <div style="width:45%;float:right">
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("EXP Date :")
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.ContractInput.expiry_date, new { @class = "form-control datepicker", required = "required", placeholder = "EXP Date" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Buyer :")
                    </div>
                    <div class="col-sm-7">
                   
                            @Html.DropDownListFor(model => model.ContractInput.buyer, new SelectList(ViewBag.buyer, "value", "text"), "Select One", new { @class = "form-control btn dropdown-toggle", required = "required" })
                        </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Period Coverage :")
                    </div>
                    <div class="col-sm-7">
                        @Html.DropDownListFor(model => model.ContractInput.period_coverage, new SelectList(ViewBag.period_coverage, "value", "text"), "Select One", new { @class = "form-control btn dropdown-toggle", required = "required" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Complete Count :")
                    </div>
                    <div class="col-sm-7">
                        @Html.DropDownListFor(model => model.ContractInput.completed_count, new SelectList(
                       new[]
                       {
                        new { Value = "true", Text = "Completed" },
                        new { Value = "false", Text = "Uncompleted" },
                        }, "Value", "Text"), "Select One", new { @class = "form-control btn dropdown-toggle", required = "required" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Remarks :")
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.ContractInput.remarks_this_week, new { @class = "form-control", required = "required", placeholder = "Remarks" })
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-sm-7">
                    </div>
                    <div class="col-sm-5">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $('.datepicker').datepicker();
    $('.inputSpinner').inputSpinner();
</script>
