﻿@model hera.Models.ViewModels.Contracts.TabelContractQuarter
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>@Model.InputQuarter.Form Form   
           </h4>
    </div>
    <br />
    <div class="modal-body">
        @using (Html.BeginForm("Input", "ContractQuarter", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.InputQuarter.ID_Contract_quarter)
        <div style="width:45%;float:left">
            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("Contract Tracking :")
                </div>
                <div class="col-sm-7">
                    @Html.DropDownListFor(model => model.InputQuarter.tracking, new SelectList(ViewBag.tracking, "value", "text"), "select one", new { @class = "form-control btn dropdown-toggle", required = "required" })
                    @*@Html.TextBoxFor(model => model.GNRIInput.po_type, new { @class = "form-control", required = "required", placeholder = "PO Type" })*@

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("week:")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.InputQuarter.week, new { @class = "form-control", required = "required", placeholder = "week name", MaxLength = 50, MinLength = 1 })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("Quarter Number:")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.InputQuarter.quarter, new { @class = "form-control", type = "number", required = "required", placeholder = "Quarter Number" })
                </div>
            </div>

            <br />

            <br />
            <div class="form-group row">
                <div class="col-sm-7">
                </div>
                <div class="col-sm-5">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
        }
    </div>
</div>

<script type="text/javascript">
    $('.datepicker').datepicker();
    $('.inputSpinner').inputSpinner();
</script>
