﻿@model hera.Models.ViewModels.Contracts.ContractGlobalModel

@{
    ViewBag.Title = "Contrats";
}

@* Start Main Content *@
<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-body">
                    <div class="form-check form-check-inline">
                        <form id="filterForm" asp-action="Index" asp-controller="Home" method="POST" data-ajax="true" data-ajax-update="divEmp">
                            <h4>Buyer</h4>
                            @foreach (var item in Model.BuyerRadio)
                            {
                                @Html.RadioButtonFor(model => model.BuyerFilter, item.ID_Contract_buyer, new { @class = "form-check-input m-2 radiobtnfilter", @id = "bf" + item.ID_Contract_buyer }) @item.name
                            }
                            @Html.RadioButtonFor(model => model.BuyerFilter, 0, new { @class = "form-check-input m-2 radiobtnfilter", @id = "bf0" }) All

                            <h4>Spending Type</h4>
                            @Html.RadioButtonFor(model => model.SpendingTypeFilter, 1, new { @class = "form-check-input m-2 radiobtnfilter", @id = "st1" }) Direct
                            @Html.RadioButtonFor(model => model.SpendingTypeFilter, 0, new { @class = "form-check-input m-2 radiobtnfilter", @id = "st0" }) Indirect
                            @Html.RadioButtonFor(model => model.SpendingTypeFilter, 2, new { @class = "form-check-input m-2 radiobtnfilter", @id = "st2" }) All

                            <h4>Commodity Category</h4>
                            @foreach (var item in Model.CommodityCategoryRadio)
                            {
                                @Html.RadioButtonFor(model => model.CommodityCategoryFilter, item.ID_Contract_commodity_group, new { @class = "form-check-input m-2 radiobtnfilter", @id = "cc" + item.ID_Contract_commodity_group }) @item.name
                            }
                            @Html.RadioButtonFor(model => model.CommodityCategoryFilter, 0, new { @class = "form-check-input m-2 radiobtnfilter", @id = "cc0" }) All
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h6 class="card-category">Contracts</h6>
                    <h4 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Total Completeness </h4>
                </div>
                <div class="card-body">
                    <div class="card-chart card-chart-pie">
                        <div class="chart-area">
                            <canvas id="totalCompleteness"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h6 class="card-category">Contracts</h6>
                    <h4 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>Completeness Coverage by FY</h4>
                </div>
                <div class="card-body">
                    <div class="card-chart card-chart-pie">
                        <div class="chart-area">
                            <canvas id="CompletenessCoveragebyFY"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h6 class="card-category">Contracts</h6>
                    <h4 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Contracts by Category </h4>
                </div>
                <div class="card-body">
                    <div class="card-chart card-chart-pie">
                        <div class="chart-area">
                            <canvas id="ContractsbyCategory"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h6 class="card-category">Contracts</h6>
                    <h4 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>Completeness by Category</h4>
                </div>
                <div class="card-body">
                    <div class="card-chart card-chart-pie">
                        <div class="chart-area">
                            <canvas id="CompletenessbyCategory"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-category">Contracts</h6>
                    <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>All Products - All</h3>
                </div>
                <div class="card-body">
                    <div class="card-chart card-chart-pie">
                        <div class="chart-area">
                            <canvas id="allProducts"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h6 class="card-category">Contracts</h6>
                    <h4 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>All Products by Quarter</h4>
                </div>
                <div class="card-body">
                    <div class="card-chart">
                        <div class="chart-area">
                            <canvas id="allProductsByQuarter"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-category">Contracts</h6>
                    <h4 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>Contract Value</h4>
                </div>
                <div class="card-body">
                    <div class="card-chart">
                        <div class="chart-area">
                            <canvas id="contractValue"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-category">Contracts</h6>
                    <h4 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>YTD Target vs Actual</h4>
                </div>
                <div class="card-body">
                    <div class="card-chart">
                        <div class="chart-area">
                            <canvas id="yearToDate"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title"> Data Table</h4>
                </div>
                <div class="card-body">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped table-hover dataTable tr-inline tableDemo" id="dataTablesMain" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                <thead class=" text-primary">
                                    <tr role="row">
                                        <th class="sorting_asc">No</th>
                                        <th class="sorting">Supplier</th>
                                        <th class="sorting">Exp Date</th>
                                        <th class="sorting">Commodity</th>
                                        <th class="sorting">Spending</th>
                                        <th class="sorting">Remarks</th>
                                    </tr>
                                </thead>
                                @{int i = 0;}
                                <tbody id="topContractsTable">
                                    @foreach (var item in Model.DatatableContrats)
                                    {
                                        <tr class="gradeA odd" role="row">
                                            <td>
                                                <span>@(++i)</span>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.supplier)
                                            </td>
                                            <td>
                                                @item.expiry_date.ToString("dd MMM yyyy")
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.commodity_group.name)
                                            </td>
                                            <td>
                                                Rp.@item.nzd.ToString("#,##0.")
                                                @*Rp.@item.nzd.ToString("#,##0.00")*@
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.remarks_this_week)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* End Main Content *@

<script type="text/javascript">
    var URL = '/Home/Index'
    $(function () {
        $(".radiobtnfilter").click(function () {
            debugger;
            var BFValue = $('input[name=BuyerFilter]:checked').val();
            var SPValue = $('input[name=SpendingTypeFilter]:checked').val();
            var CCValue = $('input[name=CommodityCategoryFilter]:checked').val();
            //$.ajax({
            //    type: "GET",
            //    url: URL,
            //    //contentType: "application/json; charset=utf-8",
            //    data: {
            //        "buyerpass": BFValue,
            //        "spendingtypepass": SPValue,
            //        "commoditypass": CCValue
            //    },
            //    datatype: "json",
            //    //success: function () {
            //    //    debugger;
            //    //    alert("Success");
            //    //},
            //    error: function () {
            //        alert("Dynamic content load failed.");
            //    }
            //});
            window.location.href = URL + '?buyerpass=' + BFValue + '&spendingtypepass=' + SPValue + '&commoditypass=' + CCValue
        });
    });
</script>

<script type="text/javascript">
    //Total Completness
    var TCCompleted = @Model.TotalCompleteness.Completed;
    var TCUncompleted = @Model.TotalCompleteness.Uncompleted;

    //Completeness Coverage by FY
    var CCFY = [];
    @foreach (var d in Model.CompletenessConverage.FY)
    {
        @:CCFY.push("@d");
    }
    var CCCompleted = [];
    @foreach (var d in Model.CompletenessConverage.Completed)
    {
        @:CCCompleted.push("@d");
    }
    var CCUncompleted = [];
    @foreach (var d in Model.CompletenessConverage.Uncompleted)
    {
        @:CCUncompleted.push("@d");
    }

    //Contracts by Category
    var CBCCommodity = [];
    @foreach (var d in Model.ContractsbyCategory.CommodityCategory)
    {
        @:CBCCommodity.push("@d");
    }
    var CBCCount = [];
    @foreach (var d in Model.ContractsbyCategory.ContractsCount)
    {
        @:CBCCount.push("@d");
    }

    //Completeness by Category
    var CoBCCommodity = [];
    @foreach (var d in Model.CompletenessbyCategory.CommodityCategory)
    {
        @:CoBCCommodity.push("@d");
    }
    var CoBCCountComplete = [];
    @foreach (var d in Model.CompletenessbyCategory.CompleteCount)
    {
        @:CoBCCountComplete.push("@d");
    }
    var CoBCCountUncomplete = [];
    @foreach (var d in Model.CompletenessbyCategory.UncompleteCount)
    {
        @:CoBCCountUncomplete.push("@d");
    }

    //All Products
    var APTarget = [];
    @foreach (var d in Model.AllProducts.Target)
    {
        @:APTarget.push("@d");
    }
    var APActual = [];
    @foreach (var d in Model.AllProducts.Actual )
    {
        @:APActual.push("@d");
    }

    //All Products By Quater
    var APTargetQ = [];
    @foreach (var d in Model.AllProductsbyQuarter.Target)
    {
        @:APTargetQ.push("@d");
    }
    var APActualQ = [];
    @foreach (var d in Model.AllProductsbyQuarter.Actual )
    {
        @:APActualQ.push("@d");
    }

    //Contracts Value
    var CVCommodity = [];
    @foreach (var d in Model.ContractsValue.CommodityCategory)
    {
        @:CVCommodity.push("@d");
    }
    var CVSUMComplete = [];
    @foreach (var d in Model.ContractsValue.CompleteSUM)
    {
        @:CVSUMComplete.push("@d");
    }
    var CVSUMUncomplete = [];
    @foreach (var d in Model.ContractsValue.UncompleteSUM)
    {
        @:CVSUMUncomplete.push("@d");
    }

    //YTD Target vs Actual
    var YTDTarget = @Model.YTDTargetvsActual.Target;
    var YTDActual = @Model.YTDTargetvsActual.Actual;
</script>

<script src="~/Scripts/Chart/Contracts.js" type="text/javascript"></script>