﻿

@model hera.Models.ViewModels.Contracts.TabelSupply

<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <br />
    <div class="modal-body">
        @using (Html.BeginForm(Model.URLAction, "ContractSupply", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.InputSupply.ID_Contract_supply_category)
            @Html.HiddenFor(model => model.idDeleteArray)
            @Html.HiddenFor(model => model.idDeleteString)
            <div style="width:45%;float:left">
                <h4>@Model.DeleteMessage </h4>
            </div>
            <div style="width:45%;float:right">
                <br />
                <br />
                <div class="form-group row">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-9">
                        <input type="submit" value="Yes" class="btn btn-primary" />
                        <input type="button" value="No" class="close btn btn-danger" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $('.datepicker').datepicker();
    $('.inputSpinner').inputSpinner();
</script>
