﻿@model hera.Models.ViewModels.Contracts.TabelSupply
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>@Model.InputSupply.Form Form   
           </h4>
    </div>
    <br />
    <div class="modal-body">
        @using (Html.BeginForm("Input", "ContractSupply", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.InputSupply.ID_Contract_supply_category)
            <div style="width:45%;float:left">
            
             
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Supply category name :")
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.InputSupply.name, new { @class = "form-control", required = "required", placeholder = "Supply category name", MaxLength = 50, MinLength = 1 })
                    </div>
                </div>
              
                <br />
                <div class="form-group row">
                    <div class="col-sm-7">
                    </div>
                    <div class="col-sm-5">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $('.datepicker').datepicker();
    $('.inputSpinner').inputSpinner();
</script>
