﻿@model hera.Models.ViewModels.Venus.TabelBusiness
    <div id='myModal' class='modal modal-black'>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id='myModalDialog'></div>
            </div>
        </div>
    </div>
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>@Model.InputBusiness.Form Form   
           </h4>
    </div>
    <br />
    <div class="modal-body">
        @using (Html.BeginForm("Input", "VenusBusiness", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.InputBusiness.ID_Venus_business_unit)
            <div style="width:45%;float:left">
            
             
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Business Unit name :")
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.InputBusiness.name, new { @class = "form-control", required = "required", placeholder = "Business Unit name", MaxLength = 50, MinLength = 1 })
                    </div>
                </div>
              
                <br />
                <div class="form-group row">
                    <div class="col-sm-7">
                    </div>
                    <div class="col-sm-5">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $('.datepicker').datepicker();
    $('.inputSpinner').inputSpinner();
     var status = @ViewBag.Status;

        if (status == "1") {
            $.notify({
                // options
                message: 'Success @ViewBag.Message'
            }, {
                // settings
                type: 'success'
            });
        } else if (status == '2') {
            $.notify({
                // options
                message: 'Failed @ViewBag.Message'
            }, {
                // settings
                type: 'danger'
            });
        }
    });
</script>
