﻿@model hera.Models.ViewModels.Venus.TabelBusiness

<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <br />
    <div class="modal-body">
            <div style="width:45%;float:left">
                <h4>Name had already taken ! </h4>
            </div>
            <div style="width:45%;float:right">
                <br />
                <br />
                <div class="form-group row">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-9">
                     
                        <input type="button" value="OK" class="close btn btn-danger" data-dismiss="modal" />
                    </div>
                </div>
            </div>
      
    </div>
</div>

<script type="text/javascript">
    $('.datepicker').datepicker();
    $('.inputSpinner').inputSpinner();
</script>
