﻿@model hera.Models.ViewModels.Venus.TableVenusGlobalModel

@{
    ViewBag.Title = "Venus Table";
}
<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">book Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you Sure!!! You want to delete this data?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue" id="btnContinueDelete">Continue</button>
                <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id='myModal' class='modal modal-black'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalDialog'></div>
        </div>
    </div>
</div>

@* Start Main Content *@
<div class="content">
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Filter</h5>
                </div>
                <div class="card-body">
                    <div class="form-check-inline">
                        <form id="filterForm">
                            <h4>PO Type</h4>
                            @foreach (var item in Model.POTypeFilter)
                            {
                                @Html.CheckBoxFor(model => item.IsCheckedPOType, new { @class = "form-check-input m-2 checkboxfilter", @id = item.name }) @item.name
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category" id="buu">GRNI Table</h5>
                </div>
                <div class="card-body" style="overflow-x:auto;">
                    <a href="javascript:void(0);" class="ancNewVenus btn btn-sm btn-primary m-1"><i class="far fa-plus-square"></i>&nbsp; Create</a>
                    <a href="javascript:void(0);" class="ancDeleteAllVenus btn btn-sm btn-warning m-1"><i class="far fa-trash-alt"></i>&nbsp; Delete Multiple</a>
                    <br />
                    <br />
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped table-hover dataTable tr-inline tableDemo" id="dataTablesMain" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                <thead>
                                    <tr role="row" class="unmodified unmodifiedSort">
                                        <th class="sorting_disable">
                                            <input type="checkbox" class="checkAll" />
                                        </th>
                                        <th class="sorting_asc">System ID</th>
                                        <th class="sorting">PO Type</th>
                                        <th class="sorting">PO Number</th>
                                        <th class="sorting">Doc Type</th>
                                        <th class="sorting">DOC Number</th>
                                        <th class="sorting">Doc Date</th>
                                        <th class="sorting">Business</th>
                                        <th class="sorting">Department</th>
                                        <th class="sorting">Vendor</th>
                                        <th class="sorting">Supplier Code</th>
                                        <th class="sorting">Supplier Name</th>
                                        <th class="sorting">Remark</th>
                                        <th class="sorting">PO Currency</th>
                                        <th class="sorting">Toleransi Minimum(-95%)</th>
                                        <th class="sorting">Amount</th>
                                        <th class="sorting">Toleransi maksimum(+105%)</th>
                                        <th class="sorting">Unit</th>
                                        <th class="sorting">PIC</th>
                                        <th class="sorting">PO Age</th>
                                        <th class="sorting">Status</th>
                                        <th class="sorting">Pair ID</th>
                                        <th class="sorting"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.GNRITable)
                                    {
                                    <tr id="@item.ID_Venus_grni_raw" class="odd" role="row">
                                        <td id=@item.ID_Venus_grni_raw class="unmodified">
                                            @Html.CheckBoxFor(model => item.checkID, new { @class = "form-check-input m-2 checkboxZselect", @id = item.ID_Venus_grni_raw })
                                            @*<input type="checkbox" />*@
                                        </td>
                                        <td class="ID_Venus_grni_raw">
                                            @Html.DisplayFor(model => item.ID_Venus_grni_raw)
                                        </td>
                                        <td class="po_type">
                                            @Html.DisplayFor(model => item.po_type)
                                        </td>
                                        <td class="po_number">
                                            @Html.DisplayFor(model => item.po_number)
                                        </td>
                                        <td class="doc_type">
                                            @Html.DisplayFor(model => item.doc_type)
                                        </td>
                                        <td class="doc_number">
                                            @Html.DisplayFor(model => item.doc_number)
                                        </td>
                                        <td class="doc_date">
                                            @item.doc_date.ToString("dd MMM yyy")
                                        </td>
                                        <td class="business">
                                            @Html.DisplayFor(model => item.business_unit)
                                        </td>
                                        <td class="department">
                                            @Html.DisplayFor(model => item.department)
                                        </td>
                                        <td class="vendor">
                                            @Html.DisplayFor(model => item.vendor)
                                        </td>

                                        <td class="supplier_code">
                                            @Html.DisplayFor(model => item.supplier_code)
                                        </td>
                                        <td class="supplier_name">
                                            @Html.DisplayFor(model => item.supplier_name)
                                        </td>
                                        <td class="remark">
                                            @Html.DisplayFor(model => item.remark)
                                        </td>
                                        <td class="po_currency">
                                            @Html.DisplayFor(model => item.po_currency)
                                        </td>
                                        <td class="minimum">
                                            @Html.DisplayFor(Model => item.minimum)
                                        </td>

                                        <td class="amount">
                                            @item.amount.ToString("#,##0.")
                                        </td>
                                        <td class="maksimum">
                                            @Html.DisplayFor(model => item.maksimum)
                                        </td>
                                        <td class="unit">
                                            @Html.DisplayFor(model => item.unit)
                                        </td>
                                        <td class="unit">
                                            @Html.DisplayFor(model => item.pic)
                                        </td>
                                        <td class="unit">
                                            @Html.DisplayFor(model => item.po_age)
                                        </td>
                                        <td class="status">
                                            @Html.DisplayFor(model => item.status)
                                        </td>
                                        <td class="pairID">
                                            @Html.DisplayFor(model => item.pairID_Venus_grni_raw)
                                        </td>

                                        <td>
                                            <a href="javascript:void(0);" class="ancEditVenus btn btn-sm btn-info m-1" data-id="@item.ID_Venus_grni_raw" title="Edit"> <i class="far fa-edit"></i></a>
                                            <a href="javascript:void(0);" class="ancDeleteVenus btn btn-sm btn-warning m-1" data-id="@item.ID_Venus_grni_raw" title="Delete"> <i class="far fa-trash-alt"></i></a>
                                            @if (item.status_add_email == 0)
                                            {
                                                <a href="javascript:void(0);" class="ancAddEmailVenus btn btn-sm btn-success m-1" data-id="@item.ID_Venus_grni_raw" title="AddEmail"> <i class="far fa-edit"></i></a>
                                            }
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* End Main Content *@

<script type="text/javascript">

  
    var URL = '/TableVenus/Index'
   // $("#buu.card-category").hide();
    $(function () {
        $(".checkboxfilter").click(function () {
            debugger;
            var POTcheckboxes = document.getElementsByName("item.IsCheckedPOType");
            var POTchecked = [];
            for (var i = 0; i < POTcheckboxes.length; i++) {
                var checkbox = POTcheckboxes[i];
                if (checkbox.checked) POTchecked.push(checkbox.id);
            }
            window.location.href = URL + '?potypepass=' + JSON.stringify(POTchecked)
        });
    });
  
    $(document).ready(function () {
      
        

        $("#checkAll").click(function () {
            $('.unmodified').children('input:checkbox').not(this).prop('checked', this.checked);
        });

        $(".checkAll").each(function () {
            var that = $(this);
            that.click(function () {
                that.closest('table').find('.unmodified').children('input:checkbox').not(this).prop('checked', this.checked);
            });
        });

        var status = @ViewBag.Status;

        if (status == "1") {
            $.notify({
                // options
                message: 'Success @ViewBag.Message'
            }, {
                // settings
                type: 'success'
            });
        } else if (status == '2') {
            $.notify({
                // options
                message: 'Failed @ViewBag.Message'
            }, {
                // settings
                type: 'danger'
            });
        }
    });
</script>