﻿@model hera.Models.ViewModels.Venus.TableVenusGlobalModel

<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>@Model.GNRIInput.Form Form</h4>
    </div>
    <br />
    <div class="modal-body">
        @using (Html.BeginForm("Input", "TableVenus", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.GNRIInput.ID_Venus_grni_raw)
        <div style="width:45%;float:left">
            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("PO Type :")
                </div>
                <div class="col-sm-7">
                    @Html.DropDownListFor(model => model.GNRIInput.po_type, new SelectList(ViewBag.POType, "value", "text"), "select one", new { @class = "form-control btn dropdown-toggle", required = "required" })
                    @*@Html.TextBoxFor(model => model.GNRIInput.po_type, new { @class = "form-control", required = "required", placeholder = "PO Type" })*@

                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("PO Number :")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.GNRIInput.po_number, new { @class = "form-control",  required = "required", placeholder = "PO Number" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("Doc Type :")
                </div>
                <div class="col-sm-7">
                    @Html.DropDownListFor(model => model.GNRIInput.doc_type, new SelectList(ViewBag.DocType, "value", "text"), new { @class = "form-control btn dropdown-toggle", required = "required" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("Doc Number :")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.GNRIInput.doc_number, new { @class = "form-control",  required = "required", placeholder = "Doc Number" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("Doc Date :")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.GNRIInput.doc_date, new { @class = "form-control datepicker", required = "required", placeholder = "Doc Date" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("Supplier Code :")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.GNRIInput.supplier_code, new { @class = "form-control", required = "required", placeholder = "Supplier Code" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("Supplier Name :")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.GNRIInput.supplier_name, new { @class = "form-control", required = "required", placeholder = "Supplier Name" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("Unit :")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.GNRIInput.unit, new { @class = "form-control",  required = "required", placeholder = "Unit" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("PIC :")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.GNRIInput.pic, new { @class = "form-control", required = "required", placeholder = "PIC" })
                </div>
            </div>
        </div>
            <div style="width:45%;float:right">
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Business Unit :")
                    </div>
                    <div class="col-sm-7">
                     
                            @Html.DropDownListFor(model => model.GNRIInput.businessunit, new SelectList(ViewBag.BusinessUnit, "value", "text"), "select one", new { @class = "form-control btn dropdown-toggle", required = "required", })
                      
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Vendor :")
                    </div>
                    <div class="col-sm-7">
                     
                            @Html.DropDownListFor(model => model.GNRIInput.vendor, new SelectList(ViewBag.Vendor, "value", "text"), "select one", new { @class = "form-control btn dropdown-toggle", required = "required", })



                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("User :")
                    </div>
                    <div class="col-sm-7">
                         @Html.DropDownListFor(model => model.GNRIInput.department, new SelectList(ViewBag.Department, "value", "text"), "select one", new { @class = "form-control btn dropdown-toggle", required = "required", })
                      

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Remarks :")
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.GNRIInput.remark, new { @class = "form-control", required = "required", placeholder = "Remarks" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("PO Currency :")
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.GNRIInput.po_currency, new { @class = "form-control", required = "required", placeholder = "PO Currency" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Amount :")
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.GNRIInput.amount, new { @class = "form-control inputSpinner", required = "required", type = "number", placeholder = "Amount" })
                    </div>
                </div>

                <br />
                <div class="form-group row">
                    <div class="col-sm-7">
                    </div>
                    <div class="col-sm-5">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
                        }
    </div>
</div>

<script type="text/javascript">
    $('.datepicker').datepicker();
    $('.inputSpinner').inputSpinner();
</script>
