﻿@model hera.Models.ViewModels.Contracts.TabelContractActual
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>@Model.InputActual.Form Form   
           </h4>
    </div>
    <br />
    <div class="modal-body">
        @using (Html.BeginForm("Input", "ContractActual", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.InputActual.ID_Contract_actual)
        <div style="width:45%;float:left">


            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("Buyer name :")
                </div>
                <div class="col-sm-7">
                    @Html.DropDownListFor(model => model.InputActual.buyer, new SelectList(ViewBag.buyer, "value", "text"), "Select One", new { @class = "form-control btn dropdown-toggle", required = "required" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("Commodity name :")
                </div>
                <div class="col-sm-7">
                    @Html.DropDownListFor(model => model.InputActual.commodity_group, new SelectList(ViewBag.commodity_group, "value", "text"), "Select One", new { @class = "form-control btn dropdown-toggle", required = "required" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("value :")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.InputActual.value, new { @class = "form-control", type = "number", required = "required", placeholder = "Value" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("Direct :")
                </div>
                <div class="col-sm-7">
                    @Html.DropDownListFor(model => model.InputActual.direct, new SelectList(
                   new[]
                   {
                    new { Value = "true", Text = "Yes" },
                    new { Value = "false", Text = "No" },
                    }, "Value", "Text"), "Select One", new { @class = "form-control btn dropdown-toggle", required = "required" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-5">
                    @Html.Label("Month :")
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.InputActual.month, new { @class = "form-control datepicker", required = "required", placeholder = "EXP Date" })

                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-sm-7">
                </div>
                <div class="col-sm-5">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
            }
        </div>
</div>

<script type="text/javascript">
    $('.datepicker').datepicker();
    $('.inputSpinner').inputSpinner();
</script>
