﻿@model hera.Models.ViewModels.Venus.VenusGlobalModel

@{
    ViewBag.Title = "Venus Dashboard";
}

@* Start Main Content *@
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-category">Filter</h5>
                </div>
                <div class="card-body">
                    <div class="form-check-inline">
                        <form id="filterForm">
                            <div class="row">
                                <div class="col-lg-4">
                                    <h4>PO Type</h4>
                                    @foreach (var item in Model.POTypeFilter)
                                    {
                                        @Html.CheckBoxFor(model => item.IsCheckedPOType, new { @class = "form-check-input m-2 checkboxfilter", @id = item.name }) @item.name
                                    }
                                </div>
                                <div class="col-lg-8">
                                    <h4>User</h4>
                                    @foreach (var item in Model.UserFilter)
                                    {
                                        @Html.CheckBoxFor(model => item.IsCheckedDepartment, new { @class = "form-check-input m-2 checkboxfilter", @id = item.name }) @item.name
                                    }
                                </div>
                                <div class="col-lg-4">
                                    <h4>Business Unit</h4>
                                    @foreach (var item in Model.BusinessUnitFilter)
                                    {
                                        @Html.CheckBoxFor(model => item.IsCheckedBusinessUnit, new { @class = "form-check-input m-2 checkboxfilter", @id = item.name }) @item.name
                                    }
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-category">Contracts</h5>
                        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Open PO</h3>
                    </div>
                    <div class="card-body flex-fill">
                        <table class="table" style="font-size: 1.1rem !important;">
                            <tbody>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-category">Contracts</h5>
                        <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> Contract Value</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-chart card-chart-pie">
                            <div class="chart-area">
                                <canvas id="monthlyopenpo"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="card ">
                    <div class="card-header">
                        <h4 class="card-title"> Data Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            Dept
                                        </th>
                                        <th>
                                            # PO
                                        </th>
                                        <th>
                                            PO Age
                                        </th>
                                        <th>
                                            Amount in IDR
                                        </th>
                                        <th>
                                            PIC
                                        </th>
                                        <th>
                                            Remarks
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Foodservices</td>
                                        <td>40105373</td>
                                        <td>239</td>
                                        <td>Rp2.027.582.840,00</td>
                                        <td>Siwi/Alinda</td>
                                        <td>Masih akan tagihan yang dikirimkan</td>
                                    </tr>
                                    <tr>
                                        <td>Foodservices</td>
                                        <td>40105373</td>
                                        <td>239</td>
                                        <td>Rp2.027.582.840,00</td>
                                        <td>Siwi/Alinda</td>
                                        <td>Masih akan tagihan yang dikirimkan</td>
                                    </tr>
                                    <tr>
                                        <td>Foodservices</td>
                                        <td>40105373</td>
                                        <td>239</td>
                                        <td>Rp2.027.582.840,00</td>
                                        <td>Siwi/Alinda</td>
                                        <td>Masih akan tagihan yang dikirimkan</td>
                                    </tr>
                                    <tr>
                                        <td>Foodservices</td>
                                        <td>40105373</td>
                                        <td>239</td>
                                        <td>Rp2.027.582.840,00</td>
                                        <td>Siwi/Alinda</td>
                                        <td>Masih akan tagihan yang dikirimkan</td>
                                    </tr>
                                    <tr>
                                        <td>Foodservices</td>
                                        <td>40105373</td>
                                        <td>239</td>
                                        <td>Rp2.027.582.840,00</td>
                                        <td>Siwi/Alinda</td>
                                        <td>Masih akan tagihan yang dikirimkan</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Contracts</h5>
                    <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Monthly GRNI</h3>
                </div>
                <div class="card-body">
                    <table class="table" style="font-size: 1.1rem !important;">
                        <tbody>
                            @foreach (var item in Model.MonthlyGRNI)
                            {
                                <tr class="gradeA odd" role="row">
                                    <td>
                                        @Html.DisplayFor(model => item.Values)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.Remarks)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Contracts</h5>
                    <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> Monthly GRNI Figures</h3>
                </div>
                <div class="card-body">
                    <div class="card-chart card-chart-pie">
                        <div class="chart-area">
                            <canvas id="monthlyGRNI"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title"> Data Table</h4>
                </div>
                <div class="card-body">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped table-hover dataTable tr-inline tableDemo" id="dataTablesMain" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>Dept</th>
                                        <th># PO</th>
                                        <th>PO Age</th>
                                        <th>Amount in IDR</th>
                                        <th>PIC</th>
                                        <th>Remarks</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.MonthlyGRNIDatatable)
                                    {
                                        <tr class="gradeA odd" role="row">
                                            <td>
                                                @Html.DisplayFor(model => item.department.name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.po_number)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.po_age)
                                            </td>
                                            <td>
                                                Rp.@item.amount.ToString("#,##0.")
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.pic)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => item.remarks)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="row">
            <div class="col-lg-4">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Contracts</h5>
                        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Monthly PO after invoices</h3>
                    </div>
                    <div class="card-body">
                        <table class="table" style="font-size: 1.1rem !important;">
                            <tbody>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                                <tr>
                                    <td>55.92%</td>
                                    <td>Values have been closed</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category">Contracts</h5>
                        <h3 class="card-title">
                            <i class="tim-icons icon-delivery-fast text-info"></i> Monthly PO after invoices figures
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="card-chart card-chart-pie">
                            <div class="chart-area">
                                <canvas id="monthlyPOAfter"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="card ">
                    <div class="card-header">
                        <h4 class="card-title"> Data Table</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table tablesorter " id="">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            Dept
                                        </th>
                                        <th>
                                            # PO
                                        </th>
                                        <th class="text-right">
                                            PO Age
                                        </th>
                                        <th>
                                            Amount in IDR
                                        </th>
                                        <th>
                                            PIC
                                        </th>
                                        <th>
                                            Remarks
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Foodservices</td>
                                        <td>40105373</td>
                                        <td>239</td>
                                        <td>Rp2.027.582.840,00</td>
                                        <td>Siwi/Alinda</td>
                                        <td>Masih akan tagihan yang dikirimkan</td>
                                    </tr>
                                    <tr>
                                        <td>Foodservices</td>
                                        <td>40105373</td>
                                        <td>239</td>
                                        <td>Rp2.027.582.840,00</td>
                                        <td>Siwi/Alinda</td>
                                        <td>Masih akan tagihan yang dikirimkan</td>
                                    </tr>
                                    <tr>
                                        <td>Foodservices</td>
                                        <td>40105373</td>
                                        <td>239</td>
                                        <td>Rp2.027.582.840,00</td>
                                        <td>Siwi/Alinda</td>
                                        <td>Masih akan tagihan yang dikirimkan</td>
                                    </tr>
                                    <tr>
                                        <td>Foodservices</td>
                                        <td>40105373</td>
                                        <td>239</td>
                                        <td>Rp2.027.582.840,00</td>
                                        <td>Siwi/Alinda</td>
                                        <td>Masih akan tagihan yang dikirimkan</td>
                                    </tr>
                                    <tr>
                                        <td>Foodservices</td>
                                        <td>40105373</td>
                                        <td>239</td>
                                        <td>Rp2.027.582.840,00</td>
                                        <td>Siwi/Alinda</td>
                                        <td>Masih akan tagihan yang dikirimkan</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
</div>
@* End Main Content *@

<script type="text/javascript">
    var URL = '/DashboardVenus/Index'
    $(function () {
        $(".checkboxfilter").click(function () {
            debugger;
            var POTcheckboxes = document.getElementsByName("item.IsCheckedPOType");
            var POTchecked = [];
            for (var i = 0; i < POTcheckboxes.length; i++) {
                var checkbox = POTcheckboxes[i];
                if (checkbox.checked) POTchecked.push(checkbox.id);
            }
            var Dcheckboxes = document.getElementsByName("item.IsCheckedDepartment");
            var Dchecked = [];
            for (var i = 0; i < Dcheckboxes.length; i++) {
                var checkbox = Dcheckboxes[i];
                if (checkbox.checked) Dchecked.push(checkbox.id);
            }
            var BUcheckboxes = document.getElementsByName("item.IsCheckedBusinessUnit");
            var BUchecked = [];
            for (var i = 0; i < BUcheckboxes.length; i++) {
                var checkbox = BUcheckboxes[i];
                if (checkbox.checked) BUchecked.push(checkbox.id);
            }
            window.location.href = URL + '?potypepass=' + JSON.stringify(POTchecked) + '&userpass=' + JSON.stringify(Dchecked) + '&businessunitpass=' + JSON.stringify(BUchecked)
        });
    });
</script>

<script type="text/javascript">

    //Monthly GNRI Figures
    var GNRICasesCount = [];
    @foreach (var d in Model.MonthlyGRNIFigures.CasesCount)
    {
        @:GNRICasesCount.push("@d");
    }
    var GNRIClosed = [];
    @foreach (var d in Model.MonthlyGRNIFigures.Closed )
    {
        @:GNRIClosed.push("@d");
    }
    var GNRIOpen = [];
    @foreach (var d in Model.MonthlyGRNIFigures.Open )
    {
        @:GNRIOpen.push("@d");
    }
</script>
<script src="~/Scripts/Chart/Venus.js" type="text/javascript"></script>