﻿@model hera.Models.ViewModels.Contracts.TabelBuyer

@{
    ViewBag.Title = "Buyer Table";
}
<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">book Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you Sure!!! You want to delete this data?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue" id="btnContinueDelete">Continue</button>
                <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id='myModal' class='modal modal-black'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='myModalDialog'></div>
        </div>
    </div>
</div>

@* Start Main Content *@
<div class="content">
    
        <div class="col-lg-12">
            <div class="card card-chart">
              
               
   
        <div class="col-lg-12">
            <div class="card card-chart">
                <div class="card-header">
                    <h2>Buyer Contracts</h2>
                </div>
                <div class="card-body" style="overflow-x:auto;">
                    <a href="javascript:void(0);" class="ancNewBuyer btn btn-sm btn-primary m-1"><i class="far fa-plus-square"></i>&nbsp; Create</a>
                    <a href="javascript:void(0);" class="ancDeleteAllBuyer btn btn-sm btn-warning m-1"><i class="far fa-trash-alt"></i>&nbsp; Delete Multiple</a>
                    <br />
                    <br />
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped table-hover dataTable tr-inline tableDemo" id="dataTablesMain" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                <thead>
                                    <tr role="row" class="unmodified unmodifiedSort">
                                        <th class="sorting_disable">
                                            <input type="checkbox" class="checkAll" />
                                        </th>
                                        <th class="sorting_asc">ID Buyer</th>
                                        <th class="sorting">Name</th>
                                       
                                        <th class="sorting"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.BuyerTable)
                                    {
                                    <tr id="@item.ID_Contract_buyer" class="odd" role="row">
                                        <td id=@item.ID_Contract_buyer class="unmodified">
                                            @Html.CheckBoxFor(model => item.checkID, new { @class = "form-check-input m-2 checkboxZselect", @id = item.ID_Contract_buyer })
                                            @*<input type="checkbox" />*@
                                        </td>
                                        <td class="ID_Contract_buyer">
                                            @Html.DisplayFor(model => item.ID_Contract_buyer)
                                        </td>
                                        <td class="ID_Venus_grni_raw">
                                            @Html.DisplayFor(model => item.name)

                                        </td>

                                        <td>
                                            <a href="javascript:void(0);" class="ancEditBuyer btn btn-sm btn-info m-1" data-id="@item.ID_Contract_buyer" title="Edit"> <i class="far fa-edit"></i></a>
                                            <a href="javascript:void(0);" class="ancDeleteBuyer btn btn-sm btn-warning m-1" data-id="@item.ID_Contract_buyer" title="Delete"> <i class="far fa-trash-alt"></i></a>

                                        </td>
                                    </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* End Main Content *@

<script type="text/javascript">


    var URL = '/ContractBuyer/Index'
   // $("#buu.card-category").hide();
    $(function () {
        $(".checkboxfilter").click(function () {
            debugger;
            var POTcheckboxes = document.getElementsByName("item.IsCheckedPOType");
            var POTchecked = [];
            for (var i = 0; i < POTcheckboxes.length; i++) {
                var checkbox = POTcheckboxes[i];
                if (checkbox.checked) POTchecked.push(checkbox.id);
            }
            window.location.href = URL + '?potypepass=' + JSON.stringify(POTchecked)
        });
    });

    $(document).ready(function () {



        $("#checkAll").click(function () {
            $('.unmodified').children('input:checkbox').not(this).prop('checked', this.checked);
        });

        $(".checkAll").each(function () {
            var that = $(this);
            that.click(function () {
                that.closest('table').find('.unmodified').children('input:checkbox').not(this).prop('checked', this.checked);
            });
        });

        var status = @ViewBag.Status;

        if (status == "1") {
            $.notify({
                // options
                message: 'Success @ViewBag.Message'
            }, {
                // settings
                type: 'success'
            });
        } else if (status == '2') {
            $.notify({
                // options
                message: 'Failed @ViewBag.Message'
            }, {
                // settings
                type: 'danger'
            });
        }
    });
</script>