﻿@model hera.Models.ViewModels.Contracts.TabelBuyer
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>@Model.InputBuyer.Form Form   
           </h4>
    </div>
    <br />
    <div class="modal-body">
        @using (Html.BeginForm("Input", "ContractBuyer", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.InputBuyer.ID_Contract_buyer)
            <div style="width:45%;float:left">
            
             
                <div class="form-group row">
                    <div class="col-sm-5">
                        @Html.Label("Buyer name :")
                    </div>
                    <div class="col-sm-7">
                        @Html.TextBoxFor(model => model.InputBuyer.name, new { @class = "form-control", required = "required", placeholder = "Buyer name" , MaxLength = 50, MinLength = 1 })
                    </div>
                </div>
              
                <br />
                <div class="form-group row">
                    <div class="col-sm-7">
                    </div>
                    <div class="col-sm-5">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $('.datepicker').datepicker();
    $('.inputSpinner').inputSpinner();
</script>
