﻿ @model hera.Models.ViewModels.Email.SendEmail


@{
    ViewBag.Title = "EmailTable";
}

@* Start Main Content *@
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-chart">

                <div class="card-body">
                    <div class="card-header" id="buu">
                        <h2>Send Email</h2>
                        <br />
                      
                    </div>
                    <div class="form-check-inline">
                        @using (Html.BeginForm("SendEmail1", "SendEmail", FormMethod.Post))
                        {
                            
                        <div class="container">

                              <p>
                                <span class="form-control-static">
                                    Receiver:
                                </span>
                                <input class="form-control" type="text" name="receiver" />
                                <br />
                                <span class="form-control-static"> Subject : </span>
                                <input class="form-control" type="text" name="subject" />




                            </p>
                        </div>
                                @*   <p>
                    @Html.RadioButtonFor(model => model.EmailSendButton, 1, new { @class = "form-check-input m-2 radiobtnfilter", @id = "st1" }) Direct
                    @Html.RadioButtonFor(model => model.EmailSendButton, 0, new { @class = "form-check-input m-2 radiobtnfilter", @id = "st0" }) Indirect
                    @Html.RadioButtonFor(model => model.EmailSendButton, 2, new { @class = "form-check-input m-2 radiobtnfilter", @id = "st2" }) All
                </p>
                <p>*@
                                <div class="col-lg-12">
                                    <div class="card card-chart">
                                        <div class="card-header">
                                            <h4 class="card-title"> Data Table</h4>
                                        </div>




                                        <div class="card-body">
                                            <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                                                <div class="table-responsive">
                                                    <table class="table table-sm table-striped table-hover dataTable tr-inline tableDemo" id="dataTablesMain" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                                        <thead class=" text-primary">
                                                            <tr>

                                                                <th>SystemId</th>
                                                                <th>Po Number</th>
                                                                <th>Amount</th>
                                                                <th>Reason</th>
                                                               
                                                                <th>If Answer Other Reason</th>



                                                            </tr>
                                                        </thead>
                                                        <tbody id="topContractsTable">

                                                           
                                                                @for (int i = 0; i < Model.EmailUpload1.Count; i++)

                                                                {
                                                            <tr class="gradeA odd" role="row">

                                                             

                                                                <td>
                                                                    @Html.DisplayFor(model => model.EmailUpload1[i].SystemId)
                                                                    <div style=display:none>
                                                                        @Html.TextBoxFor(model => model.EmailUpload1[i].SystemId, new { @class = "form-control", required = "required", value = Model.EmailUpload1[i].SystemId })
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.EmailUpload1[i].po_number)
                                                                    <div style=display:none>
                                                                        @Html.TextBoxFor(model => model.EmailUpload1[i].po_number, new { @class = "form-control", required = "required", value = Model.EmailUpload1[i].po_number })
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(model => model.EmailUpload1[i].amount)
                                                                    <div style=display:none>
                                                                        @Html.TextBoxFor(model => model.EmailUpload1[i].amount, new { @class = "form-control", required = "required", value = Model.EmailUpload1[i].amount })
                                                                    </div>
                                                                </td>
                                                                <td>



                                                                    @Html.DropDownListFor(model => model.EmailUpload1[i].ReasonOther, new SelectList(ViewBag.ReasonList, "value", "text"), new { @class = "form-control btn dropdown-toggle", required = "required" })


                                                                </td>




                                                                <td>
                                                                    <div id="ab" class="ab">
                                                                        @Html.TextBoxFor(model => model.EmailUpload1[i].otherText)
                                                                    </div>



                                                                </td>


                                                            </tr>
                                                                }
                                                        </tbody>

                                                    </table>

                                                </div>

                                            </div>

                                        </div>


                                        <div class="col-md-6">
                                            <input class="btn btn-primary" type="submit" value="Send" />
                                        </div>

                                    </div>

                                </div>
                                }
                        </div>
                                    
                </div>
            </div>
       
            <script type='text/javascript'>


           //     window.onload = function () {
                //   document.getElementByName("receiver").style.display = 'none';

               // }
                //    $("#checkAll").click(function () {
              //      $('.unmodified').children('input:checkbox').not(this).prop('checked', this.checked);
               // });
             //   $('input[name="choose"]').click(function (e) {
               //     if (e.target.value === 'yes') {
                 //       $('#optional').show();
                   // } else {
                     //   $('#optional').hide();
                  //  }
                //});
               // $("#Box1").hide();
                //$("input[value='other']").on("change", function () {
                  //  if ($(this).val() == "other") {
                    //    $("#Box1").show();
                    //}
                //}):
                $("#buu.card-header").hide();

                $(document).ready(function () {


                  //  $("input:radio[type=radio]").change(function () {
                    //    if (this.value == "Other") {
                      //      $("#otherText").show();
                        //}
                        //else {
                          //  $("#otherText").hide();
                        //}

                //    });
            var status = @ViewBag.Status;

            if (status == "1") {
            $.notify({
            // options
            message: 'Success @ViewBag.Message'
            }, {
            // settings
            type: 'success'
            });
            } else if (status == '0') {
            $.notify({
            // options
            message: 'Failed @ViewBag.Message'
            }, {
            // settings
            type: 'danger'
            });
            }
            });

            </script>
